.todoItem {
  display: flex;
  box-sizing: border-box;
  outline: none;
  color: #4d4d4d;
  background-color: #fff;
  padding: 16px 16px 16px 10px;
  border: none;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border-bottom: 0.2px solid #ddd;
}

.done {
  text-decoration: line-through;
  color: rgba(191, 191, 191, 0.5);
}
